#enviroment
NODE_ENV= (development,production)

#app port
PORT=

#rabbitmq
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_URL=
RABBITMQ_QUEUE=
RABBITMQ_QUEUE_DURABLE=

#mongo
MONGO_INITDB_DATABASE=
MONGO_DB_USER_PASSWORD=
MONGO_DB_USER_NAME=
MONGO_DB_HOST=

#mongoexpress
MONGOEXPRESS_DB_HOST=
MONGO_DB_PORT=

#postgres
POSTGRES_DB_USERNAME=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_NAME=
POSTGRES_DB_HOST=
POSTGRES_DB_PORT=

#firebase
# FIREBASE_PUBLIC_TOKEN=
FIREBASE_PRIVATE_TOKEN=
FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER=
FIREBASE_CLIENT=
FIREBASE_DOMAIN=

# Stripe
# https://dashboard.stripe.com/test/dashboard
STRIPE_PRIVATE_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# HereMap API
HERE_MAP_API_KEY=

# Email sender (Sendgrid)
API_KEY_EMAIL_SENDER=
EMAIL_SENDER=

#JWT
JWT_SECRET_KEY=